<div class="col-sm-6">
    <img src="/images/graph.png" alt="">
</div>
<div class="col-sm-6">
    <h2>Subscribe!</h2>
    <p>Enter your name if you're interested to learn more:</p>
    <form action="/subscribe" method="post" class="subscription-form">
        <input name="name" placeholder="Name" autofocus>
        <input name="email" type="email" placeholder="Email Address">
        <input pattern="[0-9]{5}" name="zipCode" placeholder="Zip Code">
        <input type="submit" name="submit">
    </form>
</div>
